/*    FONTS     */
@font-face {
  font-family: Archia Light;
  src: url("../assets/fonts/archia-light-webfont.woff");
}

@font-face {
  font-family: Archia SemiBold;
  src: url("../assets/fonts/archia-semibold-webfont.woff");
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  width: 100%;
  height: 100%;
  position: absolute;
}

.menubar {
  height: 20px;
  width: 140px;
  position: fixed;
  right: 30px;
  top: 30px;
}

.menucircle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: fixed;
  right: 190px;
  top: 25px;
}
