/*   CONTAINERS   */
#container {
  overflow-y: hidden;
  overflow-x: hidden;
  transform: none;
  transform-origin: top left;
  width:100vw;
  height: auto;
}

/*MOBILE*/
#containerscroll {
  transform: none;
  transform-origin: top left;
  white-space:nowrap;
  margin: auto;
}

.boxwrapper{
  position:relative;
  width:100vw;
  height:100vh;
  display:inline-block;
  margin: 0 ;
  margin-bottom: 0px;
  padding:100px;
}

/*!!!*/
#container .box {
  width:80vw;
  height:30vh;
  display: block;
  border: 0px solid white;
  margin: 0 auto;
  margin-bottom: 30px;
}

/*!!!!*/
#container .box > div {
  width:80vw;
  height:30vh;
  z-index: 4;
  position: absolute;
}

.cover, .box, .info { position:absolute; }

.info{
  z-index:10;
  padding: 50px;
  color: white;
  white-space: pre-wrap;
}


/*  BOXES   */
.yellow {
  background-color: #FADD02;
  opacity: 0.8;
}

.violet {
  background-color: #6102FA;
  opacity: 0.8;
  z-index: 2;
}


/*   CoVER   */
.cover {
  width:calc(100% - 200px);
  height:calc(100% - 200px);
  background-size: cover;
  z-index: 1;
}

.one { background-image: url("../assets/covers/ref-cover.png"); }
.two { background-image: url("../assets/covers/bees-cover.jpg"); }
.three { background-image: url("../assets/covers/faden-cover.jpg"); }


/*   BOX-STYLE   */
/*MOBILE*/
.info h3 {
  font-family: Archia SemiBold;
  font-size: 14pt;
}

/*MOBILE*/
.info h2 {
  font-family: Archia SemiBold;
  font-size: 25pt;
}



/* MEDIAQUERIES */
@media only screen and (min-width: 678px) {
  #container .box {
    width:calc(100% - 200px);
    height:calc(100% - 200px);
    display:inline-block;
    margin: 0 ;
    margin-bottom: 0px;
  }

  #container .cover + div {
    color:#FFF;
    z-index: 3;
  }

  #container {
    overflow-y:scroll;
    overflow-x:hidden;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: top left;
    width:100vh;
    height:100vw;
  }

  #containerscroll {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    white-space:nowrap;
    margin: 0;
  }

  .info h3 { font-size: 30pt; }

  .info h2 { font-size: 70pt; }
}
