/* INTRO ANIMATION */
#animation { 
  z-index: -2;
  position: relative;
  width: 100vw;
  }
  
.circle {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  }

  /* verschiedene circles */
.uno {
  width: 500px;
  height: 500px;
  background-color: #FADD02;
  /*animation: 20s move 10s infinite ease-in-out, circle 4s ease;*/
  animation: 3s startscale 0s ease, 10s intro 20s infinite ease-in-out;
  margin-top: 5%;

}

.due {
  width: 300px;
  height: 300px;
  margin: -18% 0% 0% 14%;
  animation: startscale 5s ease;
  border: 15px solid #FADD02;
}

.tre {
  width: 200px;
  height: 200px;
  margin: -30% 0% 0% 60%;
  animation: startscale 5s ease;
  background-color: #FADD02;
}

.quattro {
  width: 300px;
  height: 300px;
  margin: -45% 0% 0% 70%;
  animation: startscale 5s ease;
  background-color: #FADD02;
}

.cinque {
  width: 400px;
  height: 400px;
  margin: -10% 0% 0% 65%;
  animation: startscale 5s ease;
  border: 15px solid #FADD02;
}

.circle::before {
  animation-duration: 19.3s;
  animation-delay: -3.3s;
}
.circle.uno::before {
  animation-duration: 14.7s;
  animation-delay: -2.7s;
}
.circle.uno::after {
  animation-duration: 8.7s;
  animation-delay: -5.32s;
}



/* KEYFRAMES */
@keyframes startscale {
    0% {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      transform: scale(0);
    }
    
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
    }
}
/*
@keyframes rot {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    60% {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    100% {
      -webkit-transform: rotate(50deg);
      -moz-transform: rotate(50deg);
      transform: rotate(50deg);
    }
}
*/

@keyframes intro {
  0% {
    transform: translate(0%, 0%);
  }

  10% {
    transform: translate(30%, 80%);
    transform: rotate(50deg);
  }
  30% {
    transform: translate(0%, 80%);
  }
  60% {
    transform: translate(40%, 80%);
  }
  80% {
    transform: translate(160%, -20%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}