/* INTRO ANIMATION */
#animation { 
  z-index: -2;
  position: relative;
  width: 100vw;
  }
  
.circle {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  }

  .bg {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border: 8px solid #F2F2F2;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 36.5%;
    z-index: -2;
    filter: blur(2px);
  }

  .first {
    animation: circle-bg 7s infinite linear, startscale 5s ease-in-out;
  }
  .second {
    animation: circle-bg 6s infinite linear, startscale 5s ease-in-out;
  }
  .third {
    animation: circle-bg 5s infinite linear, startscale 5s ease-in-out;
  }

  /* verschiedene circles */
.uno {
  width: 500px;
  height: 500px;
  background-color: #FADD02;
  animation: 3s startscale 0s ease, 10s intro 5s infinite ease-in-out;
  margin-top: 5%;
}

.due {
  width: 400px;
  height: 400px;
  margin: -25% 0% 0% 57%;
  animation: startscale 5s ease, 10s intro 5.5s infinite ease-in-out;
  background-color: #FADD02;
}

.tre {
  width: 400px;
  height: 400px;
  margin: -60% 0% 0% 52%;
  animation: startscale 5s ease, 10s intro 6s infinite ease-in-out;
  background-color: #FADD02;
}


.circle:before {
  animation-duration: 19.3s;
  animation-delay: -3.3s;
}
.circle.due:before {
  animation-duration: 14.7s;
  animation-delay: -2.7s;
}
.circle.due:after {
  animation-duration: 8.7s;
  animation-delay: -5.32s;
}



/* KEYFRAMES */
@keyframes startscale {
    0% {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      transform: scale(0);
    }
    
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
    }
}

@keyframes intro {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(30%, 80%);
  }
  50% {
    transform: translate(0%, 120%);
  }
  75% {
    transform: translate(40%, 80%);
  }
  95% {
    transform: translate(0%, 0%);
  }
}

@keyframes circle-bg {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

