body {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

#menubar {
  background-color: #6102FA;
}

#menubarActive {
  background-color: #6102FA;
  transition: all 1s ease;
  width: 2000px;
  height: 2000px;
  top: 0;
  right: 0;
  position: fixed;
}

.intro {
  height: 100vh;
}

.intro h3 {
  font-family: Archia SemiBold;
  color: #A5A5A5;
  /*#F7F5F5;*/
}

#scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  padding-bottom: 50px;
  z-index: -1;
}

p {
  font-family: Archia SemiBold;
  font-size: 50pt;
  color: #A5A5A5;
  padding: 200px 0px 0px 100px;
  position: absolute;
  z-index: -1;
}


/*MEDIAQUERIES*/
@media only screen and (min-width: 678px) {
  p {
    font-size: 50pt;
  }
}
